{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'store/css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to right top, #cfeff2, #b9b3c5, #cdd3ab, #b6f5a1, #93d9f8);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            margin:0;
            padding: 0;
        }
    </style>
    <header>
        <h1>{% block header %}{% endblock %}</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>


